@charset "utf-8";
/* CSS Document */
body{
	margin: 0;
	padding: 0;
	background-image: url("images/background341.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	font-family: Gotham, "Helvetica" Helvetica, Arial, "sans-serif" san-serif;
}
div .menu-container{
	position: absolute;
	width: 100%;
	padding: 0px;
	margin: 0px;
}
.logo{
	height: 70px;
	margin-bottom: 10px;
	margin-left: 12px;
	padding-bottom: 4px;
	padding-top: 15px;
	float: left;
}
nav {
	font-size: 16px;
	width: 100%;
	background-color: #FFFFFF;
	margin: 0px;
	padding-bottom: 18px;
	padding-top: 15px;
	background: transparent;
}
nav ul{
	display: flex;
	margin-bottom: 12px;
	padding: 0px 0px 20px 320px
}
nav ul li{
	list-style: none;
	color: rgb(33, 42, 61);
	padding: 10px 38px;
}
nav ul li a{
	text-decoration: none;
	display: block;
	font-size: 13px;
	color: #ffffff;
}
.content-container{
	width: 100%;
	border: 1px solid #FFFFFF;	
}
.music-selection{
    margin-left: 12px;
    
}												
.music-selection select{
    width: 90px;
    height: 40px;
    border: 2px solid #828282;
    box-sizing: border-box;
    background-color: transparent;
    color: black;
	outline: none;
	margin-right: 20px;
	margin-left: 0px;
}
.music-selection option{
    color: #ffff;
    text-align: center;
}
.music-selection a{
    text-decoration: none;
    font-size: 20px;
    display: block;
    justify-content: center;				
    align-items: center;
    font-weight: 550;
    border: 2px solid #dc721f;
    color: #dc721f;
    height: 40px;
    width: 90px;
    box-sizing: border-box;
}
